Repository gazebosim/ros_gz, pull requests merged in 2020-08, with the labels that each got.

#39 Pointcloud bridge demo for depth camera - take 2
  ros_ign_gazebo_demos/README.md
  ros_ign_gazebo_demos/launch/depth_camera_bridge.launch
  ros_ign_gazebo_demos/rviz/depth_camera_bridge.rviz
Labels: ROS 1, 🏰 citadel, 📜 blueprint

#102 Add pkg-config as a buildtool dependency
  ros_ign_bridge/package.xml
  ros_ign_gazebo/package.xml
  ros_ign_image/package.xml
Labels: ROS 2, bug

#104 Updated README.md
  README.md
  ros_ign_bridge/README.md
Labels: documentation

#107 [dashing] Update releases
  .travis/build
  README.md
  RELEASING.md
  ros_ign/package.xml
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/CMakeLists.txt
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 2, documentation, 🏰 citadel, 📜 blueprint

#108 [ros2] Update releases
  .travis.yml
  .travis/build
  README.md
  RELEASING.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/CMakeLists.txt
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 2, documentation, 🏰 citadel, 🔮 dome
