Repository gazebosim/ros_gz, pull requests merged in 2020-12, with the labels that each got.

#122 (ROS 2) Extend plugin path instead of overwriting it in ign_gazebo launch script
  ros_ign_gazebo/launch/ign_gazebo.launch.py
Labels: ROS 2

#123 Fix triage for PRs from forks
  .github/workflows/triage.yml
Labels: ROS 1

#124 [ROS2] Fix triage for PRs from forks
  .github/workflows/triage.yml
Labels: ROS 2

#125 (ROS 2) Add default value for plugin path in ign_gazebo launch script
  ros_ign_gazebo/launch/ign_gazebo.launch.py
Labels: ROS 2

#126 Add dome + melodic to CI
  .travis.yml
  .travis/build
  README.md
  RELEASING.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 1, 🔮 dome
