Repository gazebosim/ros_gz, pull requests merged in 2020-07, with the labels that each got.

#91 Integer support
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/builtin_interfaces_factories.hpp
  ros_ign_bridge/include/ros_ign_bridge/convert_builtin_interfaces.hpp
  ros_ign_bridge/src/builtin_interfaces_factories.cpp
  ros_ign_bridge/src/convert_builtin_interfaces.cpp
Labels: ros2

#72 Choose collection based on environment variable
  .travis.yml
  .travis/build
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/README.md
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 1, 🏰 citadel, 📜 blueprint

#94 Update Foxy CI
  .travis.yml
  .travis/build
Labels: ROS 2, 🏰 citadel

#95 Install only what's necessary, rename builtin_interfaces
  .travis.yml
  .travis/build
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/include/ros_ign_bridge/convert.hpp
  ros_ign_bridge/src/bridge.hpp
  ros_ign_bridge/src/convert.cpp
  ros_ign_bridge/src/factories.cpp
  ros_ign_bridge/src/factories.hpp
  ros_ign_bridge/src/factory.hpp
  ros_ign_bridge/src/factory_interface.hpp
  ros_ign_bridge/src/parameter_bridge.cpp
  ros_ign_bridge/src/static_bridge.cpp
  ros_ign_image/src/image_bridge.cpp
Labels: ROS 2, 🏰 citadel, 📜 blueprint

#93 Noetic support
  .travis.yml
  .travis/build
  README.md
  RELEASING.md
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert.hpp
  ros_ign_bridge/package.xml
  ros_ign_bridge/src/convert.cpp
  ros_ign_bridge/src/factories.cpp
  ros_ign_bridge/src/factories.hpp
  ros_ign_bridge/test/launch/test_ros_subscriber.launch
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ign_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber.cpp
  ros_ign_bridge/test/test_utils.h
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_point_cloud/CMakeLists.txt
  ros_ign_point_cloud/package.xml
Labels: ROS 1, 🏰 citadel

#97 dashing ➡️ ros2
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/include/ros_ign_bridge/convert.hpp
  ros_ign_bridge/src/bridge.hpp
  ros_ign_bridge/src/convert.cpp
  ros_ign_bridge/src/factories.cpp
  ros_ign_bridge/src/factories.hpp
  ros_ign_bridge/src/factory.hpp
  ros_ign_bridge/src/factory_interface.hpp
  ros_ign_bridge/src/parameter_bridge.cpp
  ros_ign_bridge/src/static_bridge.cpp
  ros_ign_image/src/image_bridge.cpp
Labels: ROS 2, 🏰 citadel

#99 Update release docs, add versioning
  README.md
  RELEASING.md
Labels: ROS 1, ROS 2, documentation, 🏰 citadel, 📜 blueprint
