Repository gazebosim/ros_gz, pull requests merged in 2021-04, with the labels that each got.

#146 [ros2] Fix message duplication caused by bidirectional bridge (not for all rmw implementations)
  ros_ign_bridge/src/factory.hpp
Labels: ROS 2, bug

#144 [ros2] Minor updates for demos
  ros_ign_gazebo_demos/README.md
  ros_ign_gazebo_demos/launch/air_pressure.launch.py
  ros_ign_gazebo_demos/launch/image_bridge.launch.py
  ros_ign_gazebo_demos/launch/imu.launch.py
  ros_ign_gazebo_demos/rviz/rgbd_camera_bridge.rviz
Labels: ROS 2, documentation

#149 Add Rolling CI
  .travis.yml
  README.md
Labels: ROS 2

#150 Default to Edifice for Rolling
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
Labels: ROS 2
