Repository gazebosim/ros_gz, pull requests merged in 2021-12, with the labels that each got.

#193 Statically link each translation unit
  ros_ign_bridge/CMakeLists.txt
  ros_ign_image/CMakeLists.txt
Labels: ROS 2

#187 Light Messages
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert/ros_ign_interfaces.hpp
  ros_ign_bridge/include/ros_ign_bridge/convert/std_msgs.hpp
  ros_ign_bridge/src/convert/ros_ign_interfaces.cpp
  ros_ign_bridge/src/convert/std_msgs.cpp
  ros_ign_bridge/src/factories/ros_ign_interfaces.cpp
  ros_ign_bridge/src/factories/std_msgs.cpp
  ros_ign_bridge/test/launch/test_ign_subscriber.launch.py
  ros_ign_bridge/test/launch/test_ros_subscriber.launch.py
  ros_ign_bridge/test/publishers/ign_publisher.cpp
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber.cpp
  ros_ign_bridge/test/test_utils.hpp
  ros_ign_interfaces/CMakeLists.txt
  ros_ign_interfaces/README.md
  ros_ign_interfaces/msg/Light.msg
Labels: ROS 2

#196 [melodic] 🏁 Dome EOL
  .github/workflows/build-and-test.sh
  .github/workflows/melodic-ci.yml
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_bridge/src/convert.cpp
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 1

#197 [noetic] 🏁 Dome EOL
  .github/workflows/build-and-test.sh
  .github/workflows/noetic-ci.yml
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_bridge/src/convert.cpp
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 1

#198 [foxy] 🏁 Dome EOL
  .github/workflows/build-and-test.sh
  .github/workflows/foxy-ci.yml
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
Labels: ROS 2

#199 [ros2] 🏁 Dome EOL
  .github/workflows/build-and-test.sh
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
Labels: ROS 2

#195 Default to Fortress for Rolling (future Humble)
  .github/workflows/ros2-ci.yml
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
Labels: ROS 2

#201 Separate galactic branch from ros2 branch
  .github/workflows/ros2-ci.yml
  README.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
Labels: ROS 2

#202 [melodic] Update docs for ros2 branches
  README.md
Labels: documentation, ROS 1

#203 [foxy] Update docs for ros2 branches
  README.md
Labels: ROS 2, documentation
