Repository gazebosim/ros_gz, pull requests merged in 2021-03, with the labels that each got.

#136 Add visualization_msgs/Marker
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert.hpp
  ros_ign_bridge/package.xml
  ros_ign_bridge/src/convert.cpp
  ros_ign_bridge/src/factories.cpp
  ros_ign_bridge/src/factories.hpp
  ros_ign_bridge/test/launch/test_ign_subscriber.launch
  ros_ign_bridge/test/launch/test_ros_subscriber.launch
  ros_ign_bridge/test/publishers/ign_publisher.cpp
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ign_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber.cpp
  ros_ign_bridge/test/test_utils.h
Labels: ROS 1

#139 [noetic] Edifice support
  .travis.yml
  .travis/build
  README.md
  RELEASING.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 1

#140 [foxy] Edifice support
  .travis.yml
  .travis/build
  README.md
  RELEASING.md
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/package.xml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/CMakeLists.txt
  ros_ign_image/package.xml
Labels: ROS 2

#137 Add support for nav_msgs/OccupancyGrid
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert.hpp
  ros_ign_bridge/src/convert.cpp
  ros_ign_bridge/src/factories.cpp
  ros_ign_bridge/src/factories.hpp
  ros_ign_bridge/test/launch/test_ign_subscriber.launch
  ros_ign_bridge/test/launch/test_ros_subscriber.launch
  ros_ign_bridge/test/publishers/ign_publisher.cpp
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ign_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber.cpp
  ros_ign_bridge/test/test_utils.h
Labels: ROS 1, needs upstream release

#142 [ros2] Update documentation for installation instructions and bridge examples
  README.md
  ros_ign_bridge/README.md
  ros_ign_bridge/images/bridge_image_exchange.png
Labels: ROS 2, 🏢 edifice, 🏰 citadel, 🔮 dome
