Repository gazebosim/ros_gz, pull requests merged in 2022-08, with the labels that each got.

#278 Skip process name from bridge topic argument
  ros_ign_image/src/image_bridge.cpp
Labels: ROS 2

#284 ROS: Add ahcorde as codeowner
  .github/CODEOWNERS
  ros_ign/package.xml
  ros_ign_bridge/package.xml
  ros_ign_gazebo/package.xml
  ros_ign_gazebo_demos/package.xml
  ros_ign_image/package.xml
  ros_ign_point_cloud/package.xml
Labels: ROS 1

#281 ign -> gz : ros_gz Migration (Shims)
  ros_gz_shims/README.md
  ros_gz_shims/ros_ign/CMakeLists.txt
  ros_gz_shims/ros_ign/README.md
  ros_gz_shims/ros_ign/package.xml
  ros_gz_shims/ros_ign_bridge/CMakeLists.txt
  ros_gz_shims/ros_ign_bridge/README.md
  ros_gz_shims/ros_ign_bridge/package.xml
  ros_gz_shims/ros_ign_bridge/src/parameter_bridge_shim.cpp
  ros_gz_shims/ros_ign_bridge/src/static_bridge_shim.cpp
  ros_gz_shims/ros_ign_gazebo/CMakeLists.txt
  ros_gz_shims/ros_ign_gazebo/README.md
  ros_gz_shims/ros_ign_gazebo/launch/ign_gazebo.launch.py.in
  ros_gz_shims/ros_ign_gazebo/package.xml
  ros_gz_shims/ros_ign_gazebo/src/create_shim.cpp
  ros_gz_shims/ros_ign_gazebo_demos/CMakeLists.txt
  ros_gz_shims/ros_ign_gazebo_demos/README.md
  ros_gz_shims/ros_ign_gazebo_demos/launch/air_pressure.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/battery.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/camera.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/depth_camera.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/diff_drive.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/gpu_lidar.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/gpu_lidar_bridge.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/image_bridge.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/imu.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/joint_states.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/magnetometer.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/rgbd_camera.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/rgbd_camera_bridge.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/robot_description_publisher.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/tf_bridge.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/launch/triggered_camera.launch.py
  ros_gz_shims/ros_ign_gazebo_demos/package.xml
  ros_gz_shims/ros_ign_image/CMakeLists.txt
  ros_gz_shims/ros_ign_image/README.md
  ros_gz_shims/ros_ign_image/package.xml
  ros_gz_shims/ros_ign_image/src/image_bridge_shim.cpp
  ros_gz_shims/ros_ign_interfaces/CMakeLists.txt
  ros_gz_shims/ros_ign_interfaces/README.md
  ros_gz_shims/ros_ign_interfaces/msg/Contact.msg
  ros_gz_shims/ros_ign_interfaces/msg/Contacts.msg
  ros_gz_shims/ros_ign_interfaces/msg/Entity.msg
  ros_gz_shims/ros_ign_interfaces/msg/EntityFactory.msg
  ros_gz_shims/ros_ign_interfaces/msg/GuiCamera.msg
  ros_gz_shims/ros_ign_interfaces/msg/JointWrench.msg
  ros_gz_shims/ros_ign_interfaces/msg/Light.msg
  ros_gz_shims/ros_ign_interfaces/msg/StringVec.msg
  ros_gz_shims/ros_ign_interfaces/msg/TrackVisual.msg
  ros_gz_shims/ros_ign_interfaces/msg/VideoRecord.msg
  ros_gz_shims/ros_ign_interfaces/msg/WorldControl.msg
  ros_gz_shims/ros_ign_interfaces/msg/WorldReset.msg
  ros_gz_shims/ros_ign_interfaces/package.xml
  ros_gz_shims/ros_ign_interfaces/srv/ControlWorld.srv
  ros_gz_shims/ros_ign_interfaces/srv/DeleteEntity.srv
  ros_gz_shims/ros_ign_interfaces/srv/SetEntityPose.srv
  ros_gz_shims/ros_ign_interfaces/srv/SpawnEntity.srv
Labels: ROS 2, ign to gz

#289 Add missing GZ_VERSION ticktocks
  ros_gz_bridge/CMakeLists.txt
  ros_gz_image/CMakeLists.txt
  ros_gz_shims/ros_ign_gazebo/CMakeLists.txt
Labels: ROS 2, ign to gz

#286 Add debugger option in launch
  ros_ign_gazebo/launch/ign_gazebo.launch.py.in
Labels: ROS 2, MBARI buoy
