Repository gazebosim/ros_gz, pull requests merged in 2022-04, with the labels that each got.

#232 Factory interface needs virtual destructor
  ros_ign_bridge/CMakeLists.txt
  ros_ign_bridge/src/factory_interface.cpp
  ros_ign_bridge/src/factory_interface.hpp
Labels: ROS 2

#237 Added reminder to hit play to receive images.
  ros_ign_bridge/README.md
Labels: ROS 2, documentation

#241 [galactic] Backport GuiCamera, StringVec, TrackVisual, VideoRecord
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert/ros_ign_interfaces.hpp
  ros_ign_bridge/src/convert/ros_ign_interfaces.cpp
  ros_ign_bridge/src/factories/ros_ign_interfaces.cpp
  ros_ign_bridge/test/launch/test_ign_subscriber.launch.py
  ros_ign_bridge/test/launch/test_ros_subscriber.launch.py
  ros_ign_bridge/test/publishers/ign_publisher.cpp
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ign_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber/ros_ign_interfaces_subscriber.cpp
  ros_ign_bridge/test/utils/ign_test_msg.cpp
  ros_ign_bridge/test/utils/ign_test_msg.hpp
  ros_ign_bridge/test/utils/ros_test_msg.cpp
  ros_ign_bridge/test/utils/ros_test_msg.hpp
  ros_ign_interfaces/CMakeLists.txt
  ros_ign_interfaces/msg/GuiCamera.msg
  ros_ign_interfaces/msg/StringVec.msg
  ros_ign_interfaces/msg/TrackVisual.msg
  ros_ign_interfaces/msg/VideoRecord.msg
Labels: mbzirc

#223 Camera trigger demo
  ros_ign_gazebo_demos/README.md
  ros_ign_gazebo_demos/launch/triggered_camera.launch.py
Labels: ROS 2

#224 Add support for bridging NavSat
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert.hpp
  ros_ign_bridge/src/convert.cpp
  ros_ign_bridge/src/factories.cpp
  ros_ign_bridge/src/factories.hpp
  ros_ign_bridge/test/launch/test_ign_subscriber.launch
  ros_ign_bridge/test/launch/test_ros_subscriber.launch
  ros_ign_bridge/test/publishers/ign_publisher.cpp
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ign_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber.cpp
  ros_ign_bridge/test/test_utils.h
  ros_ign_gazebo_demos/README.md
  ros_ign_gazebo_demos/images/navsat_demo.png
  ros_ign_gazebo_demos/launch/navsat.launch
Labels: ROS 1

#228 galactic to ros2
  .github/workflows/triage.yml
  ros_ign_gazebo/CMakeLists.txt
  ros_ign_gazebo/launch/ign_gazebo.launch.py.in
  ros_ign_interfaces/CHANGELOG.rst
  ros_ign_interfaces/README.md
Labels: ROS 2

#244 Joint state publisher and tf bridging demo
  ros_ign_gazebo_demos/README.md
  ros_ign_gazebo_demos/images/tf_bridge.gif
  ros_ign_gazebo_demos/launch/tf_bridge.launch.py
  ros_ign_gazebo_demos/models/double_pendulum_model.sdf
  ros_ign_gazebo_demos/rviz/tf_bridge.rviz
Labels: ROS 2

#222 Adds pose and twist with covariance messages bridging
  ros_ign_bridge/README.md
  ros_ign_bridge/include/ros_ign_bridge/convert/geometry_msgs.hpp
  ros_ign_bridge/include/ros_ign_bridge/convert/nav_msgs.hpp
  ros_ign_bridge/src/convert/geometry_msgs.cpp
  ros_ign_bridge/src/convert/nav_msgs.cpp
  ros_ign_bridge/src/factories/geometry_msgs.cpp
  ros_ign_bridge/src/factories/nav_msgs.cpp
  ros_ign_bridge/test/launch/test_ign_subscriber.launch.py
  ros_ign_bridge/test/launch/test_ros_subscriber.launch.py
  ros_ign_bridge/test/publishers/ign_publisher.cpp
  ros_ign_bridge/test/publishers/ros_publisher.cpp
  ros_ign_bridge/test/subscribers/ign_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber/geometry_msgs_subscriber.cpp
  ros_ign_bridge/test/subscribers/ros_subscriber/nav_msgs_subscriber.cpp
  ros_ign_bridge/test/utils/ign_test_msg.cpp
  ros_ign_bridge/test/utils/ign_test_msg.hpp
  ros_ign_bridge/test/utils/ros_test_msg.cpp
  ros_ign_bridge/test/utils/ros_test_msg.hpp
Labels: ROS 2
